*{
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}

:root{
    --Asparagus: (106, 148, 88);
    --Ebony:(81, 81, 61);
    --Moss:(166, 168, 103);
    --Vanilla:(227, 220, 149);
    --Pearl: (227, 220, 194);
}

html{
    width: 100%;
    height: 100vh;
}

body{
    background-color: rgb(106, 148, 88);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_start {
    display: flex;
    justify-content: flex-start;
}

a{
    text-decoration:none;
    color: black;
}

ul{
    list-style: none;
    display: flex;
    justify-content:space-around;
}


#header_content{
    height: 80px;
    position:sticky;
    top:0;
    width: 100%;
    justify-content: space-between;
    padding: 24px;
    background-color: rgb(63, 78, 57);
    border-bottom: 1px;

}
#menu li{
    display: inline;
}

#about{
    flex-direction: column;
    margin: 2rem;
    width: 100%;
}

#conteudo{
    flex-direction: row;
    gap:2rem;
}

.img_profile{
    width:200px;
}
